body{
	margin:0;
	padding:0;
	}
ul{
	margin:0;
	padding:0;
}

.menu >li {
display:inline-block;
position: relative;
background: yellow;
font-size:100px;
color: green;
/*width:105px;
height:105px;*/

}

/*i{
transition:2s;
}
i:hover{
transform:rotate(180deg);
}*/
.menu{
position:relative;
animation-name: slide;
animation-duration:3s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function:linear;
animation-delay:1s;
}
.menu li{
position:absolute;
animation:slide2 3s infinite;
}
.menu li:hover{
animation-play-state:paused;
}
.menu li:nth-child(odd){
animation-delay:1s;
}

div{
width:50px;
height:50px;
background:red;
animation:slide 2s;

}

div div{
background: green;

}
@keyframes slide{
0%{
margin-left:0;

}
100%{margin-left:100px;}
}


@keyframes slide2{
from{left:0;}
to{left:100px;}
}
@keyframes slide{
from{left:0;}
to{left:100px;}
}

