body{
	background:#ede5f4;
}

.hmenu{
	position:relative;
    right: 50px;
    float: right;  
}

.hmenu li{
    display:inline-block;
    list-style:none;
    margin:0px;
   
}

.menu2 {
	width: 100%;
	height: 100px;
}

.logo{
	position:relative;
	float:left;
	width: 200px; 
	height: 50px;
	top:15px;
	left: 25px;
}

.menu2 img{
	width:192px;
	height:91px;
}

.menu2 li{
	display:inline-block;
	list-style:none;
}

article{
	display:block;
	position:relative;
	width: 900px;
	top: -180px;
	left: 300px;
	color: #07485b;
	
}

fieldset{
	position:relative;
	top: 135px;
	border: 3px solid #db073d;
	width:210px;
	height:300px;
	background:#8ec7d2;
}

textarea{
	width:200px;
	height: 100px;
}

.input{
	width:200px;
	height: 20px;
}

footer{
	color: #07485b;
	font-size:18px;
	width:100%;
	height: 130px;
	background: #8ec7d2;
}
.icons{
	position:relative;
	float:right;
	font-size:40px;
	top:-60px;
	right: 50px;
	color:#07485b;
}

.icons i{
	margin:10px;
	text-decoration:none;
}

button{
	width:97px;
	height:36px;
	border-radius: 8px;
	background: linear-gradient(0deg, #0d6986, #8ec7da);
	font-size:20px;
	color:#ede5f4;
	margin:7px;
}
.education{
	width:138px;
}

.contact{
	width:114px;
}
.skills{
	width:95px;
}

button:hover{
-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
color:#07485b;
}
.menu2 button{
	width:192px;
	height:91px;
	border-radius: 8px;
	background: linear-gradient(0deg, #db073d, #0d6986);
	font-size:20px;
	color:#ede5f4;
	margin-left:130px;
}
.menu2 button:hover{
color:#8ec7d2;
}